$mainBgColor: #1f2029;
$secondaryBgColor: #f7f7f7;
$mainTextColor: #000;
$secondaryTextColor: #afb1b8;
$white: #ffffff;
$extraTextColor: #8c8c8c;

$accentColor: #20002c;
$purple: #3c1053;
$purpleTint: #ca5cc5;
$lightPink: #e27ac7;
$pink: #ec4899;
$darkPink: #ad5389;
$glassBg: rgba(31, 32, 41, 0.5);

$fontMain: 'Roboto', sans-serif;
$fontSecondary: 'Audiowide', cursive;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
