<section class="about section__about">
  <div class="about__container">
    <div class="about__wrp">
      <h2 class="about__title">About me</h2>
      <p class="about__text">
        My name is Serhii Chernetskiy. I'm Frontend developer from Kyiv Ukraine.
        I have 9 months of experience in developing websites. I do not stop
        there.
      </p>
      <p class="about__text">
        I always try to improve my skills. I have through knowledge of HTML,
        CSS, JavaScript, and React. Also i have experience in following Agile
        /Scrum methodology and use Bitrix 24 and Trello.
      </p>
      <p class="about__text">
        I am a team player. I have responsibility, conscientious and attentive
        to deadlines.
      </p>
      <p class="about__text">
        In my spare time, I love to roller skating, fishing, traveling, downhill
        skiing.
      </p>
      <div class="arrow__link js-portfolio-link">
        <p class="arrow__link-text">Cool cases are here</p>
        <ul class="arrow__list">
          <li class="arrow__item">
            <img src="/src/images/arrow.svg" alt="arrow" />
          </li>
          <li class="arrow__item">
            <img src="/src/images/arrow.svg" alt="arrow" />
          </li>
          <li class="arrow__item">
            <img src="/src/images/arrow.svg" alt="arrow" />
          </li>
        </ul>
      </div>
    </div>
    <img class="about__img" src="/src/images/goverla.jpg" alt="Goverla" />
  </div>
</section>
