<section class="about section__about">
  <div class="about__container container">
    <h2>About</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ratione?
      Natus, accusamus excepturi adipisci exercitationem minima doloribus.
      Maiores numquam ipsum laboriosam ipsa earum molestiae iusto ex
      necessitatibus amet culpa! Doloremque!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ratione?
      Natus, accusamus excepturi adipisci exercitationem minima doloribus.
      Maiores numquam ipsum laboriosam ipsa earum molestiae iusto ex
      necessitatibus amet culpa! Doloremque!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ratione?
      Natus, accusamus excepturi adipisci exercitationem minima doloribus.
      Maiores numquam ipsum laboriosam ipsa earum molestiae iusto ex
      necessitatibus amet culpa! Doloremque!
    </p>
  </div>
</section>
