<section class="contacts section__contacts js-section" id="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title">Contacts</h2>
    <h3 class="contacts__sub-title">Let's work together!</h3>
    <img class="contacts__x" src="/src/images/x.svg" alt="X" />
    <img
      class="contacts__author"
      src="/src/images/author.jpg"
      alt="author"
      width="80"
    />
    <div class="contacts__msg">
      <p>Please write a message.</p>
      <p>It's easier than mail!</p>
    </div>
    <div class="contacts__block">
      <h4 class="contacts__block-title">CONTACTS</h4>

      <ul class="contacts__list">
        <li class="contacts__item">
          <a href="tel:+380662056690" class="contacts__link"
            ><svg class="contacts__smartphone" width="10" height="16">
              <use href="./images/icons.svg#smartphone"></use>
            </svg>
            +380 66 205 6690</a
          >
        </li>
        <li class="contacts__item">
          <a href="mailto:sergchernetskiy@gmail.com" class="contacts__link">
            <svg class="contacts__envelope" width="16" height="12">
              <use href="./images/icons.svg#envelope"></use>
            </svg>
            sergchernetskiy@gmail.com</a
          >
        </li>
        <li class="contacts__block-item">
          <ul class="socials">
            <li class="socials__item">
              <a
                href="tg://resolve?domain=serhiichern"
                class="socials__link link"
                target="_blank"
                ><svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#telegram"></use></svg
              ></a>
            </li>
            <li class="socials__item">
              <a
                href="viber://chat?number=+380662056690"
                class="socials__link link"
                target="_blank"
                ><svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#viber"></use></svg
              ></a>
            </li>
            <li class="socials__item">
              <a
                href="https://www.linkedin.com/in/serhii-chernetskiy/"
                class="socials__link link"
                target="_blank"
                ><svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#linkedin"></use></svg
              ></a>
            </li>
            <li class="socials__item">
              <a
                href="https://github.com/sergchernetskiy"
                class="socials__link link"
                target="_blank"
                ><svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#github"></use></svg
              ></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
