<header class="header">
  <div class="header__container container">
    <!-- Hamburger button -->
    <div
      class="mob-menu__icon js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <span class="row-one"></span>
      <span class="row-two"></span>
      <span class="row-three"></span>
    </div>

    <!-- Header menu -->
    <nav class="header__menu">
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__current" href="./index.html"
            >Home</a
          >
        </li>
        <li class="site-nav__item">
          <a
            data-goto=".section__about"
            class="site-nav__link link js-nav__link"
            href="#"
            >About</a
          >
        </li>
        <li class="site-nav__item">
          <a
            data-goto=".section__skills"
            class="site-nav__link link"
            js-nav__link
            href="#"
            >Skills</a
          >
        </li>
        <li class="site-nav__item">
          <a
            data-goto=".section__portfolio"
            class="site-nav__link link js-nav__link"
            href="#"
            >Portfolio</a
          >
        </li>
        <li class="site-nav__item">
          <a
            data-goto=".section__contacts"
            class="site-nav__link link js-nav__link"
            href="#c"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
