<header class="header">
  <div class="header__container container">
    <!-- Hamburger button -->
    <div
      class="mob-menu__icon js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <span class="row-one"></span>
      <span class="row-two"></span>
      <span class="row-three"></span>
    </div>

    <!-- Header menu -->
    <nav class="header__menu">
      <ul class="nav__list list">
        <li>
          <a data-goto="hero" class="nav__link js-nav__link" href="#">Home</a>
        </li>
        <li>
          <a data-goto="about" class="nav__link js-nav__link" href="#">About</a>
        </li>
        <li>
          <a data-goto="skills" class="nav__link js-nav__link" href="#"
            >Skills</a
          >
        </li>
        <li>
          <a data-goto="portfolio" class="nav__link js-nav__link" href="#"
            >Portfolio</a
          >
        </li>
        <li>
          <a data-goto="contacts" class="nav__link js-nav__link" href="#"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
