<header class="header">
  <div class="header__container container">
    <nav class="header__menu">
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__current" href="./index.html"
            >Main page</a
          >
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#about">About</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#skills">Skills</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#portfolio">Portfolio</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <div class="header__wrap">
        <!-- Кнопка бургер -->
        <button
          type="button"
          class="menu__toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu__ham" viewBox="0 0 100 100">
            <!-- <circle cx="50" cy="50" r="30" /> -->
            <path class="line--1" d="M0 70l28-28c2-2 2-2 7-2h64" />
            <path class="line--2" d="M0 50h99" />
            <path class="line--3" d="M0 30l28 28c2 2 2 2 7 2h64" />
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
