<section class="hero section__hero js-section" id="hero">
  <div class="container hero__container">
    <img class="hero__triangle" src="images/triangle.svg" alt="triangle" />
    <img class="hero__cross" src="images/cross.svg" alt="cross" />
    <img class="hero__circle" src="images/circle.svg" alt="circle" />
    <div class="hero__main-text">
      <div class="hero__title-union">
        <span class="hero__title-contrast one">W</span>
        <span class="hero__title-contrast two">e</span>
        <span class="hero__title-contrast three">l</span>
        <span class="hero__title-contrast four">c</span>
        <span class="hero__title-contrast five">o</span>
        <span class="hero__title-contrast six">m</span>
        <span class="hero__title-contrast seven">e</span>
        <span class="hero__title-contrast eight">!</span>
      </div>
      <h1 class="hero__author-text">I'm Serhii Chernetskiy</h1>
      <p class="hero__text">frontend developer</p>
    </div>
    <!-- <img class="hero__author" src="images/me.png" alt="author" width="650" /> -->
  </div>
</section>
