<div class="mob-menu__container js-menu-container" id="mobile-menu">
  <ul>
    <li class="mob-nav__item">
      <a
        data-goto="hero"
        href="#"
        class="mob-nav__link link js-nav__link js-mob-nav__link"
        >Home</a
      >
    </li>
    <li class="mob-nav__item">
      <a
        data-goto="about"
        href="#"
        class="mob-nav__link link js-nav__link js-mob-nav__link"
        >About</a
      >
    </li>
    <li class="mob-nav__item">
      <a
        data-goto="skills"
        href="#"
        class="mob-nav__link link js-nav__link js-mob-nav__link"
        >Skills</a
      >
    </li>
    <li class="mob-nav__item">
      <a
        data-goto="portfolio"
        href="#"
        class="mob-nav__link link js-nav__link js-mob-nav__link"
        >Portfolio</a
      >
    </li>
    <li class="mob-nav__item">
      <a
        data-goto="contacts"
        href="#"
        class="mob-nav__link link js-nav__link js-mob-nav__link"
        >Contacts</a
      >
    </li>
  </ul>
  <ul>
    <li class="social-mob__item">
      <a href="tel:+380662056690" class="mob-nav__link social-mob__link link"
        >+380 66 205 6690</a
      >
    </li>
    <li class="social-mob__item">
      <a
        href="tg://resolve?domain=serhiichern"
        class="mob-nav__link social-mob__link link"
        >Telegram</a
      >
    </li>
    <li class="social-mob__item">
      <a
        href="viber://chat?number=%2B380662056690"
        class="mob-nav__link social-mob__link link"
        >Viber</a
      >
    </li>
    <li class="social-mob__item">
      <a
        href="https://www.linkedin.com/in/serhii-chernetskiy/"
        class="mob-nav__link social-mob__link link"
        >LinkedIn</a
      >
    </li>
    <li class="social-mob__item">
      <a
        href="https://github.com/sergchernetskiy"
        class="mob-nav__link social-mob__link link"
        >Github</a
      >
    </li>
  </ul>
</div>
