<section class="portfolio section__portfolio">
  <div class="portfolio__bg">
    <h2 class="portfolio__title">Portfolio</h2>
    <img
      class="portfolio__bg-couple"
      src="/src/images/jumping.png"
      alt="jumping couple"
    />
  </div>
  <div class="portfolio__container container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/img1.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./images/img2.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./images/img3.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./images/img4.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./images/img5.jpg" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
