<section class="skills section__skills">
  <div class="skills__container container">
    <h2 class="skills__tittle is-hidden">Skills</h2>
    <div class="skills__wrap">
      <div class="skills__tech-wrp">
        <h3 class="skills__tech-title">Hard skills:</h3>
        <ul class="skills__tech-list">
          <li class="skills__tech-item">
            <div class="technology">
              <svg width="32" height="32" aria-label="HTML">
                <use
                  class="technology__icon"
                  href="/src/images/icons.svg#html5"
                ></use>
              </svg>
              <p class="skills__tech-text">HTML</p>
            </div>
            <ul class="description">
              <li class="description__item">semantics</li>
              <li class="description__item">tags nesting</li>
            </ul>
          </li>
          <li class="skills__tech-item">
            <div class="technology">
              <svg width="32" height="32" aria-label="CSS">
                <use
                  class="technology__icon"
                  href="/src/images/icons.svg#css3"
                ></use>
              </svg>
              <p class="skills__tech-text">CSS</p>
            </div>
            <ul class="description">
              <li class="description__item">responsive / adaptive</li>
              <li class="description__item">mobile first</li>
              <li class="description__item">BEM</li>
              <li class="description__item">SASS</li>
            </ul>
          </li>
          <li class="skills__tech-item">
            <div class="technology">
              <svg width="32" height="32" aria-label="JavaScript">
                <use
                  class="technology__icon"
                  href="/src/images/icons.svg#javascript"
                ></use>
              </svg>
              <p class="skills__tech-text">JavaScript</p>
            </div>
            <ul class="description">
              <li class="description__item">ES5/ES6+</li>
              <li class="description__item">DOM/BOM</li>
              <li class="description__item">REST API / AJAX / CRUD</li>
              <li class="description__item">Parcel / Webpack</li>
            </ul>
          </li>
          <li class="skills__tech-item">
            <div class="technology">
              <svg width="32" height="32" aria-label="React">
                <use
                  class="technology__icon"
                  href="/src/images/icons.svg#react"
                ></use>
              </svg>
              <p class="skills__tech-text">React</p>
            </div>
            <ul class="description">
              <li class="description__item">basics</li>
              <li class="description__item">routing</li>
              <li class="description__item">Redux</li>
            </ul>
          </li>
          <li class="skills__tech-item">
            <div class="technology">
              <svg width="32" height="32" aria-label="Node.js">
                <use
                  class="technology__icon"
                  href="/src/images/icons.svg#node-dot-js"
                ></use>
              </svg>
              <p class="skills__tech-text">Node.js</p>
            </div>
            <ul class="description">
              <li class="description__item">npm</li>
            </ul>
          </li>
          <li class="skills__tech-item">
            VsCode, Git, Github, Figma, ESlint, Prettier
          </li>
        </ul>
      </div>
      <div class="skills__soft">
        <div class="skills__soft-wrp">
          <h3 class="skills__soft-title">Soft skills:</h3>
          <ul class="skills__soft-list">
            <li class="skills__soft-item">
              <p class="skills__soft-text">Responsible</p>
            </li>
            <li class="skills__soft-item">
              <p class="skills__soft-text">Conscientious</p>
            </li>
            <li class="skills__soft-item">
              <p class="skills__soft-text">Attentive to detail and deadlines</p>
            </li>
            <li class="skills__soft-item">
              <p class="skills__soft-text">Hardworking</p>
            </li>
            <li class="skills__soft-item">
              <p class="skills__soft-text">Honest</p>
            </li>
          </ul>
        </div>
        <div class="skills__lang">
          <h3 class="skills__lang-title">Languages:</h3>
          <ul class="skills__lang-list">
            <li class="skills__lang-item">
              <p class="skills__lang-text">English</p>
              <p class="skills__lang-text">B1</p>
            </li>
            <li class="skills__lang-item">
              <p class="skills__lang-text">Ukraine</p>
              <p class="skills__lang-text">C1</p>
            </li>
            <li class="skills__lang-item">
              <p class="skills__lang-text">Russian</p>
              <p class="skills__lang-text">C1</p>
            </li>
          </ul>
        </div>
        <a
          data-goto=".section__contacts"
          href="#"
          class="arrow__link js-nav__link"
        >
          <p class="arrow__link-text">Let's work together</p>
          <ul class="arrow__list">
            <li class="arrow__item">
              <img src="/src/images/arrow.svg" alt="arrow" />
            </li>
            <li class="arrow__item">
              <img src="/src/images/arrow.svg" alt="arrow" />
            </li>
            <li class="arrow__item">
              <img src="/src/images/arrow.svg" alt="arrow" />
            </li>
          </ul>
        </a>
      </div>
    </div>
  </div>
</section>
