<section class="skyline section__skyline js-section" id="skyline">
  <div class="skyline__bg">
    <div class="skyline__container container">
      <h2 class="skyline__title">Portfolio</h2>
      <img
        class="skyline__bg-couple"
        src="/src/images/jumping.png"
        alt="jumping couple"
      />
      <div class="skyline__btn js-skyline-btn">
        <div class="skyline__btn-wrp">
          <div class="skyline__btn-dote"></div>
          <div class="skyline__btn-shadow"></div>
        </div>
      </div>
    </div>
  </div>
</section>
