.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;

  @include mob {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
  }

  @include tab {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  @include pc {
    padding-left: 32px;
    padding-right: 32px;
    width: 1200px;
  }
}
