.mob-menu__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 4;

  background-image: linear-gradient(135deg, $mainBgColor 40%, $accentColor);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(100%);

  @media (min-width: 768px) {
    display: none;
  }
}

.is-open {
  transform: translateX(0);

  transition: transform 250ms $timing-function;
}

.menu__toggle {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;

  @include tab-pc {
    display: none;
  }
}

.menu__ham {
  width: 70px;
  height: 70px;

  .line--1,
  .line--3 {
    --total-length: 111.22813415527344;
    --offset: -50.22813415527344;
  }
  .line--2 {
    --total-length: 99;
  }
}

.cross {
  path {
    transform: translateX(30px);
  }
  .line--1,
  .line--3 {
    --offset: -16.9705627485;
  }
  .line--2 {
    --offset: -20;
    --length: 0;
  }
}

path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mob-nav__item:not(:last-child),
.social-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.social-mob__item {
  margin-bottom: 32px;
}

.mob-nav__link,
.social-mob__link {
  @include font(null, 40px, 1.175, 0.02em);
  color: $secondaryTextColor;
}

.mob-nav__current {
  color: $darkPink;
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
