.mob-menu__icon {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 5;
  padding: 0;
  display: block;

  border: none;
  border-radius: 50%;
  background-color: rgba(20, 20, 28, 0.2);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #14141c;
    border-radius: 50%;
  }

  &.is-open .row-two {
    transform: scale(0) translate(0px, -50%);
  }

  &.is-open .row-one {
    width: 30px;
    top: 50%;
    left: 20%;
    transform: rotate(-45deg);
  }

  &.is-open .row-three {
    width: 30px;
    top: 50%;
    left: 20%;
    transform: rotate(45deg);
  }

  &.is-open:hover .row-one,
  &.is-open:hover .row-three {
    background-color: $lightPink;
  }

  @include tab {
    display: none;
  }

  @include pc {
    display: none;
  }
}

.row-one,
.row-two,
.row-three {
  position: absolute;
  left: 50%;
  width: 25px;
  height: 1px;
  pointer-events: none;
  transform: translate(-50%, -50%);

  background-color: $white;
}

.row-one {
  top: 35%;
  transition: 700ms;
}

.row-two {
  top: 50%;
  transition: 500ms;
}

.row-three {
  top: 65%;
  transition: 700ms;
}

.mob-menu__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: linear-gradient(135deg, $mainBgColor 60%, #1f001f);

  overflow: auto;
  transform: translateX(100%);

  &.is-open {
    transform: translateX(0);
    transition: transform 250ms $timing-function;
  }
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.social-mob__item {
  margin-bottom: 32px;
}

.mob-nav__link,
.social-mob__link {
  @include font(null, 30px, 1.175, 0.02em);
  color: $secondaryTextColor;
}

.mob-nav__link:hover,
.mob-nav__link:focus {
  color: $darkPink;
}
