.contacts {
  height: 600px;
  background-color: $secondaryBgColor;

  // padding-top: 32px;
  // padding-bottom: 32px;

  overflow: hidden;

  @include pc {
    height: calc(100vh - 62px);
  }
}

.contacts__container {
  position: relative;
}

.contacts__title {
  position: absolute;
  top: 20px;
  left: 8px;
  z-index: 2;
  background: url(/src/images/beach.jpg) center/cover no-repeat;
  -webkit-background-clip: text;
  font-size: 60px;
  color: rgba(0, 0, 0, 0);
  font-family: $fontSecondary;
  font-style: normal;
  font-weight: 700;
  // text-align: center;

  @include tab {
    top: 20px;
    left: 75px;
    font-size: 15vw;
  }

  @include pc {
    top: -30px;
    left: 80px;
    font-size: 15vw;
  }
}

.contacts__sub-title {
  position: absolute;
  top: 110px;
  left: 10px;
  font-size: 30px;
  color: $accentColor;

  @include tab {
    font-size: 30px;
    top: 210px;
    left: 85px;
  }

  @include pc {
    font-size: 30px;
    top: 210px;
    left: 180px;
  }
}

.contacts__x {
  position: absolute;
  top: 0;
  right: -100px;
  width: 200vw;

  @include tab {
    right: -230px;
    width: 100vw;
  }

  @include pc {
    right: -230px;
    width: 90%;
  }
}

.contacts__author {
  position: absolute;
  top: 180px;
  left: 10px;
  border-radius: 50%;

  @include tab {
    top: 300px;
    left: 85px;
    width: 120px;
  }

  @include pc {
    top: 280px;
    left: 200px;
    width: 120px;
  }
}

.contacts__msg {
  position: absolute;
  top: 250px;
  left: 80px;
  background-color: $mainBgColor;
  color: $white;
  font-size: 18px;
  padding: 16px;
  border-radius: 0 10px 10px 10px;

  @include tab {
    top: 405px;
    left: 190px;
    font-size: 20px;
    // width: 250px;
  }

  @include pc {
    top: 386px;
    left: 304px;
    font-size: 24px;
  }
}

.contacts__block {
  position: absolute;
  top: 400px;
  right: 20px;
  z-index: 2;
  font-size: 20px;
  color: $purpleTint;

  @include tab {
    top: 300px;
    right: 20px;
  }

  @include pc {
    top: 280px;
    right: 120px;
  }
}

.contacts__block-title {
  margin-bottom: 16px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 16px;
}

.contacts__link {
  position: relative;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus,
  &:hover::after,
  &:focus::after {
    color: $purple;

    transform: scaleX(1);
  }
}

.contacts__link::after {
  content: '';
  position: absolute;

  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(135deg, $darkPink, $purple);

  transform: scaleX(0);
  transition: transform 250ms $timing-function;
}
