.header {
  background-color: transparent;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;

  .header__container {
    @include centeredFlex(flex, center, center);
    // border: 1px solid red;
  }
  @include mob {
    width: 100vw;
    height: 60px;
  }

  .header__menu {
    @include centeredFlex(flex, center, center);
  }
}

.header__scrolled {
  @include tab {
    z-index: 10;
    top: 0;
    left: 0;
    background-color: $glassBg;
    backdrop-filter: blur(10px);
  }
}
