.portfolio {
  height: calc(200vh - 62px);
  background-color: #1f2029;
  // padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio__bg {
  background: linear-gradient(160deg, #5c6e9c, #f1d7d9);
  width: 100%;
  height: calc(100vh - 62px);
  position: relative;
}

.portfolio__title {
  position: absolute;
  top: 60%;
  left: 30%;
  font-family: inherit;
  font-size: 150px;

  text-align: center;

  color: $accentColor;
  // background-image: linear-gradient(to right, $purple, $accentColor);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.portfolio__bg-couple {
  position: absolute;
  top: -5%;
  left: 40%;
  width: 30%;
}
